<div class="w-full">
  <h4 class="mt-0 mb-2">Name</h4>
  <p-skeleton height="3rem"></p-skeleton>
</div>
<div class="w-full mt-2">
  <h4 class="mt-0 mb-2">Volume</h4>
  <p-skeleton height="3rem"></p-skeleton>
</div>
<div class="w-full mt-2">
  <h4 class="mt-0 mb-2">Icon</h4>
  <p-skeleton height="3rem"></p-skeleton>
</div>
<div class="w-full mt-2">
  <h4 class="mt-0 mb-2">Description</h4>
  <p-skeleton height="6rem"></p-skeleton>
</div>
<div class="flex mt-4">
  <p-skeleton height="3rem"></p-skeleton>
</div>
