<form (ngSubmit)="goSave()" [formGroup]="containerForm" *ngIf="containerForm">
  <div class="w-full">
    <h4 class="mt-0 mb-2">Name</h4>
    <input pInputText [formControl]="name" class="w-full"/>
  </div>
  <div class="w-full mt-2">
    <h4 class="mt-0 mb-2">Volume</h4>
    <p-inputNumber [min]="1" [formControl]="volume" class="w-full"/>
  </div>
  <div class="w-full mt-2">
    <h4 class="mt-0 mb-2">Icon</h4>
    <p-selectButton [options]="containerOptions" [formControl]="icon">
      <ng-template let-item pTemplate>
        <i [class]="item"></i>
      </ng-template>
    </p-selectButton>
  </div>
  <div class="w-full mt-2">
    <h4 class="mt-0 mb-2">Description</h4>
    <textarea pInputTextarea [formControl]="description" class="w-12 h-6rem"></textarea>
  </div>
  <div class="flex mt-4">
    <button class="p-button-sm" type="submit" pButton label="Save" [disabled]="!containerForm.valid"></button>
  </div>
</form>
