<div *ngIf="thing">
  <div class="h-3rem flex align-items-center surface-800 text-white px-4">

    {{thing.name}}
  </div>
  <div style="min-height: 150px;" class="border-left-1 border-right-1 p-4 text-sm">
    <div>Volume</div>
    <div class="text-color-secondary">{{thing.volume}}</div>
    <div class="mt-2">Description</div>
    <div class="text-color-secondary">{{thing.description}}</div>
  </div>
  <div class="h-3rem flex align-items-center surface-300 border-1 justify-content-between">
    <div>
      <p-button icon="pi pi-star" [rounded]="true" [text]="true" (onClick)="editThing()"></p-button>
    </div>
    <div>
      <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" (onClick)="editThing()"></p-button>
      <p-button icon="pi pi-trash" [rounded]="true" [text]="true" (onClick)="deleteThing()"></p-button>
    </div>
  </div>
</div>
