<h2>My Containers</h2>

<a routerLink="/containers/add">
  <p-button size="small" label="Add new container" icon="pi pi-plus" [loading]="$any(loading$ | async)"></p-button>
</a>

<div *ngIf="$any(loading$ | async)" class="mt-4">
  <p-skeleton height="6rem"></p-skeleton>
</div>

<p-table [value]="$any(containers$ | async)" styleClass="mt-4" *ngIf="!$any(loading$ | async)">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Volume</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>
        <a [routerLink]="'/containers/' + product._id">
          <i *ngIf="product.icon !== 'pi pi-ban'" [class]="product.icon + ' mr-2'"></i>
          {{ product.name }}
        </a>
      </td>
      <td>{{product.takenSpace}} / {{ product.volume }} sm³</td>
      <td>{{ product.description }}</td>
      <td>
        <hos-containers-item-actions (delete)="deleteContainer(product)" [container]="product"></hos-containers-item-actions>
      </td>
    </tr>
  </ng-template>
</p-table>
